.postTitle {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaedf0;
}

.titleText {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #1a1e27;
  word-break: break-all;
}

.postTopInfo {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: #949eac;
}

.postTopInfo_right {
  font-size: 14px;
  line-height: 20px;
  color: #949eac;
  display: flex;
  justify-content: flex-end;
}

.postContent {
  width: calc(100%);
  padding: 30px 24px;
  font-size: 15px;
  line-height: 22px;
  color: #353c49;
  word-break: break-all;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentLike {
  display: table;
  margin: 40px auto 30px;
}

.commentRead {
  padding-top: 10px;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  background: rgb(236 243 255);
}

.commentReadText {
  font-size: 0.8rem;
  padding: 1rem;
  color: rgb(33, 37, 41);
  line-height: 1.75;
  border-top: 1px solid #eaedf0;
}

.commentWrite {
  padding-top: 30px;
  border-top: 1px solid #eaedf0;
  margin-bottom: 3rem;
}

.commentWriteText {
  resize: none;
  padding: 1rem 1rem 1.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: 1px solid rgb(233, 236, 239);
  width: 100%;
  border-radius: 4px;
  min-height: 6.125rem;
  font-size: 0.8rem;
  color: rgb(33, 37, 41);
  line-height: 1.75;
}

.commentName {
  font-size: 14px;
  line-height: 20px;
  color: #949eac;
  margin: 0.5rem;
}

.commentBottom {
  display: flex;
  align-items: center;
  padding-right: 1em;
  justify-content: flex-end;
}

.writeReply {
  margin-right: 16px;
  font-size: 11px;
  line-height: 20px;
  color: #949eac;
  cursor: pointer;
}

.writeReplyLike {
  margin-right: 16px;
  font-size: 11px;
  line-height: 20px;
  color: #949eac;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(246 108 27);
}
